.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:antiquewhite;
  color:#282c34;
}

.startBtn {
  background-color: #282c34;
  border: 1px solid #282c34;
  color: antiquewhite;
  position: relative;
  bottom: 70px;
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  font-size: 1.7rem;
  font-weight: bold;

}

.logoutBtn{
    position: absolute;
    left: 80%;
    bottom: 10%;
    background-color: #282c34;
    border: 1px solid #282c34;
    border-radius: 2rem;
    width: 140px;
    color: antiquewhite;
    font-size: 1.6rem;
  };

.routineBtn {
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 2rem;
  color: antiquewhite;
  font-size: 1.6rem;
  width: 150px;
  height: 60px;
}

.headerBtn {
  background-color: antiquewhite;
  border: 1px solid antiquewhite;
  color: #282c34;
  font-size: 1.6rem;
  font-weight: bold;
}

.loginBtn {
  /* text-align: center; */
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 2rem;
  width: 180px;
  color: antiquewhite;
  font-size: 1.6rem;
  font-weight: bold;
}

.yogaListBtn {
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 2rem;
  width: 200px;
  height: 40px;
  color: antiquewhite;
  font-size: 1.2rem;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;

}

.coachBtn {
  position:absolute;
  /* left: 50%; */
  bottom: 15%;
  background-color: #282c34;
  border: 1px solid #282c34;
  border-radius: 2rem;
  width: 200px;
  color: antiquewhite;
  font-size: 1.6rem;
  font-weight: bold;

}


hr {
  border-color: #282c34;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F2CCFF;
    color: antiquewhite;
  } */